@media (min-width: 820px) and (max-width: 1000px) {
  .page-1 .navbar,
  .Apage-1 .navbar,
  .Spage-1 .navbar,
  .ArPage-1 .navbar,
  .Wpage-1 .navbar,
  .Cpage-1 .navbar,
  .APpage-1 .navbar {
    position: fixed;
    display: flex;
    gap: 46vw;
    padding-top: 3vw;
  }
  .navbar .logo {
    width: auto;
    height: 4vw;
  }
  .nav h2 {
    font-size: 1.8vw;
  }
}
@media (max-width: 820px) {
  .page-1 .navbar,
  .Apage-1 .navbar,
  .Spage-1 .navbar,
  .ArPage-1 .navbar,
  .Wpage-1 .navbar,
  .Cpage-1 .navbar,
  .APpage-1 .navbar {
    padding-top: 3.5vw;
  }
  .navbar .nav {
    display: none;
  }
  .navbar .logo {
    width: auto;
    height: 5vw;
  }
  .navbar .Responsive {
    display: flex;
  }
  .up h2 {
    font-size: 2vw;
  }
  .down h2 {
    font-size: 1.5vw;
  }
}
@media (max-width: 600px) {
  .navbar .logo {
    display: flex;
    width: auto;
    height: 6vw;
  }
  .navbar .Responsive {
    height: 9vw;
    width: 9vw;
    top: 40%;
    left: 1700%;
  }
  #footer .move {
    padding: 8vw 0;
  }
  .marque h1 {
    font-family: "Neue Machina";
    font-size: 8vw;
  }
  .move img {
    height: 8vw;
  }
}
@media (max-width: 450px) {
  .page-1 .navbar,
  .Apage-1 .navbar,
  .Spage-1 .navbar,
  .ArPage-1 .navbar,
  .Wpage-1 .navbar,
  .Cpage-1 .navbar,
  .APpage-1 .navbar {
    padding-top: 5vw;
  }
  .navbar .logo {
    display: flex;
    width: auto;
    height: 7vw;
  }
  .navbar .Responsive {
    height: 10vw;
    width: 10vw;
    top: 40%;
    left: 1400%;
  }
  #footer .move {
    padding: 10vw 0;
  }
  .marque h1 {
    font-family: "Neue Machina";
    font-size: 10vw;
  }
  .move img {
    height: 10vw;
  }
  #footer .footer-last {
    margin-left: 5vw;
  }
  #footer .footer-last .up {
    margin: 7.5vw 1.5vw;
    flex-direction: column-reverse;
    gap: 20vw;
  }
  .up .Uright {
    align-items: flex-start;
  }
  .up .Uleft {
    gap: 23vw;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-between;
  }
  .up h2 {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
  .up h3 {
    font-size: 3.7vw;
    margin-bottom: 2.2vw;
  }
  .up h1 {
    font-size: 5vw;
  }
  .down h2 {
    font-size: 3vw;
  }
  .down .width {
    width: 25vw;
    font-size: 2vw;
  }
}
